<div class="lecture-container">
  <div class="lecture-header">
    <div class="header-title">
      <mat-icon class="header-icon" (click)="returnToMenu()">arrow_back</mat-icon>
      <h2>NIVEL BÁSICO - LECCIÓN {{courseService.currentLesson}} - LECTURA</h2>
    </div>
    <div class="progress-bar-container smaller-progress-bar">
      <b>Progreso: </b>
      <div class="progress-bar">
        <div class="current-progress" [style.width.%]="getCurrentCompletion()">{{getCurrentCompletion() === 0 ? '‎' : getCurrentCompletion() + '%'}}</div>
      </div>
    </div>
  </div>
  <div class="lecture-content">
    <h2 class="lecture-title">LECTURA</h2>
    <div class="lecture-body">
      <div class="text-container">
        <h3 class="text-title">{{courseService.currentLesson === 1 ? courseService.lecture1Title : courseService.lecture2Title}}</h3>
        <p>{{courseService.currentLesson === 1 ? courseService.lecture1Content : courseService.lecture2Content}}</p>
      </div>
      <div class="video-container">
        <iframe *ngIf="courseService.currentLesson === 1" width="560" height="315" src="https://www.youtube.com/embed/zbgZb57UI68" [title]="courseService.lecture1VideoDescription" class="video-content"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe *ngIf="courseService.currentLesson === 2" width="560" height="315" src="https://www.youtube.com/embed/4jMXXXgkfeI" [title]="courseService.lecture2VideoDescription" class="video-content"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="lecture-actions">
      <button class="btn-secondary action-button" type="button" (click)="returnToMenu()">VOLVER AL MENÚ</button>
      <button class="btn-primary action-button" type="button" (click)="submitLecture()">CONTINUAR</button>
    </div>
  </div>
</div>
