.header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 100%;
  width: 100%;
  background-color: var(--dark-purple);

  .logo-container {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;

    img {
      position: absolute;
    }

    .header-text {
      padding-left: 300px;
    }
  }

  .icons-container {
    display: flex;
    gap: 1rem;

    .streak-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      cursor: default;
    }
  }

  .header-text {
    color: white;
  }

  .header-icon {
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2.5rem;
    color: white;
  }
  .fire-icon {
    color: var(--orange);
  }
}
