:root {
  --green: #DFDC1E;
  --orange: #F8981E;
  --light-orange: #F0F09E;
  --blue: #00B2CB;
  --purple: #F33165;
  --dark-purple: #402043;

  --light-gray: #402043CC;

  --white-background: #D9D9D9;
  --success-green: #7ED21B;
}
