.form-container {
  .form-input {
    width: 100%;
    background: none;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0.725rem 0.125rem rgba(64, 32, 67, 0.4);
  }
  .password-input {
    position: relative;
    width: 100%;

    .password-icon {
      cursor: pointer;
      color: var(--dark-purple);
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
