<div class="course-container">
  <div class="course-header">
    <mat-icon class="header-icon" (click)="returnToList()">arrow_back</mat-icon>
    <h2>NIVEL BÁSICO</h2>
  </div>
  <div class="course-level-container">
    <div class="course-card" (click)="redirectToLesson(1)">
      <div class="course-description">
        <h2>LECTURA 1 {{courseService.basicLevel1Progress === 100 ? '- Nota final: ' + courseService.testResults + '/4' : ''}}</h2>
        <div class="course-content">
          <p>CONTENIDO: </p>
          <ul class="list-padding">
            <li>Lectura</li>
            <li>Ejemplos</li>
            <li>Ejercicios</li>
            <li>Test</li>
          </ul>
        </div>
      </div>
      <div class="icon-container">
        <div class="progress-bar-container">
          <b>Progreso: </b>
          <div class="progress-bar">
            <div class="current-progress" [style.width.%]="courseService.basicLevel1Progress">{{courseService.basicLevel1Progress === 0 ? '‎' : courseService.basicLevel1Progress +'%'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="course-card" [class]="courseService.basicLevel1Progress < 100 ? 'inactive-card' : ''"
         [matTooltip]="courseService.basicLevel1Progress < 100 ? 'Debe completar el nivel anterior' : ''"
      (click)="checkCourseCompletion()"
    >
      <div class="course-description">
        <h2>LECTURA 2</h2>

        <div class="course-content">
          <p>CONTENIDO: </p>
          <ul class="list-padding">
            <li>Lectura</li>
            <li>Ejemplos</li>
            <li>Ejercicios</li>
            <li>Test</li>
          </ul>
        </div>
      </div>
      <div class="icon-container">
        <mat-icon *ngIf="courseService.basicLevel1Progress < 100" class="card-icon">lock</mat-icon>
        <div *ngIf="courseService.basicLevel1Progress === 100" class="progress-bar-container">
          <b>Progreso: </b>
          <div class="progress-bar">
            <div class="current-progress" [style.width.%]="courseService.basicLevel2Progress">{{courseService.basicLevel2Progress === 0 ? '‎' : courseService.basicLevel2Progress +'%'}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

