<div class="example-container">
  <div class="example-header">
    <div class="header-title">
      <mat-icon class="header-icon" (click)="returnToMenu()">arrow_back</mat-icon>
      <h2>NIVEL {{courseService.currentCourse === 'basic' ? 'BÁSICO' : courseService.currentCourse === 'intermediate'
        ? 'INTERMEDIO' : 'AVANZADO'}} - LECCIÓN {{courseService.currentLesson}} - EJEMPLOS</h2>
    </div>
    <div class="progress-bar-container smaller-progress-bar">
      <b>Progreso: </b>
      <div class="progress-bar">
        <div class="current-progress" [style.width.%]="getCurrentCompletion()">{{getCurrentCompletion() === 0 ? '‎' : getCurrentCompletion() + '%'}}</div>
      </div>
    </div>
  </div>
  <div class="example-content">
    <h2 class="example-title">EJEMPLOS</h2>
    <div class="example-body" *ngIf="exampleData">
      <div class="text-container">
        <h3 class="text-title">{{exampleData.exampleTitle}}</h3>
        <p>{{exampleData.exampleContent}}</p>
      </div>
    </div>
    <div class="example-actions">
      <button class="btn-secondary action-button" type="button" (click)="returnToMenu()">VOLVER AL MENÚ</button>
      <button class="btn-primary action-button" type="button" (click)="submitExample()">CONTINUAR</button>
    </div>
  </div>
</div>
