<div class="courses-list-container">
  <div class="course-card" (click)="redirectToLesson('basic')">
    <div class="course-description">
      <h2>NIVEL BÁSICO</h2>
      <p>Contenido del curso: dos lecciones</p>
      <p>Cada lección tiene:</p>
      <ul class="list-padding">
        <li>Lectura</li>
        <li>Ejemplos</li>
        <li>Ejercicios</li>
        <li>Test</li>
      </ul>
    </div>
  </div>
  <div class="course-card inactive-card" matTooltip="Debe completar el nivel anterior">
    <div class="course-description">
      <h2>NIVEL INTERMEDIO</h2>
      <p>Contenido del curso: dos lecciones</p>
      <p>Cada lección tiene:</p>
      <ul class="list-padding">
        <li>Lectura</li>
        <li>Ejemplos</li>
        <li>Ejercicios</li>
        <li>Test</li>
      </ul>
    </div>
    <div class="icon-container">
      <mat-icon class="card-icon">lock</mat-icon>
    </div>
  </div>
  <div class="course-card inactive-card" matTooltip="Debe completar el nivel anterior">
    <div class="course-description">
      <h2>NIVEL AVANZADO</h2>
      <p>Contenido del curso: dos lecciones</p>
      <p>Cada lección tiene:</p>
      <ul class="list-padding">
        <li>Lectura</li>
        <li>Ejemplos</li>
        <li>Ejercicios</li>
        <li>Test</li>
      </ul>
    </div>
    <div class="icon-container">
      <mat-icon class="card-icon">lock</mat-icon>
    </div>
  </div>
</div>
