<div class="lesson-container">
  <div class="lesson-header">
    <div class="header-title">
      <mat-icon class="header-icon" (click)="returnToLevel()">arrow_back</mat-icon>
      <h2>NIVEL BÁSICO - LECCIÓN 1</h2>
    </div>
    <div class="progress-bar-container smaller-progress-bar">
      <b>Progreso: </b>
      <div class="progress-bar">
        <div class="current-progress" [style.width.%]="75">75%</div>
      </div>
    </div>
  </div>
  <div class="lesson-level-container">
    <div class="lesson-card" (click)="redirectToLecture()">
      <div class="lesson-description">
        <h2>LECTURA</h2>
      </div>
      <div class="icon-container">
        <mat-icon class="success-icon">check_circle</mat-icon>
      </div>
    </div>
    <div class="lesson-card" (click)="redirectToExample()">
      <div class="lesson-description">
        <h2>EJEMPLOS</h2>
      </div>
      <div class="icon-container">
        <mat-icon class="success-icon">check_circle</mat-icon>
      </div>
    </div>
    <div class="lesson-card" (click)="redirectToExercise()">
      <div class="lesson-description">
        <h2>EJERCICIOS</h2>
      </div>
      <div class="icon-container">
        <mat-icon class="success-icon">check_circle</mat-icon>
      </div>
    </div>
    <div class="lesson-card" (click)="redirectToTest()">
      <div class="lesson-description">
        <h2>TEST</h2>
      </div>
      <div class="icon-container">
        <mat-icon class="in-progress-icon">check_circle</mat-icon>
      </div>
    </div>
  </div>
</div>
